<h3 class="nk-decorated-h-2"><span><span class="text-main-1">Similar</span> Articles</span></h3>
<div class="nk-gap"></div>
<div class="row">

  <% page_content[:similar_articles].each do |post| %>
    <div class="col-md-6">
      <div class="nk-blog-post">
        <a href="/<%= post.uid %>" class="nk-post-img">
          <img src="<%= post.thumbnail_path %>" alt="We found a witch! May we burn her?">
          <span class="nk-post-comments-count"><%= post.comments.count %></span>

          <span class="nk-post-categories">
            <% @blog_post.categories.each do |category| %>
              <span class="bg-main" style="
                background-color: <%= category.background_color %>;
                color: <%= category.text_color %>
              ">
                <%= category.name %>
              </span>
            <% end %>
          </span>

        </a>
        <div class="nk-gap"></div>
        <h2 class="nk-post-title h4"><a href="blog-article.html"><%= post.title %></a></h2>
      </div>
    </div>
  <% end %>
</div>