<div class="col-lg-8">
  <div class="nk-blog-grid">
    <div class="row">
      <% @blog_posts.each do |blog_post| %>
        <div class="col-md-6">
          <div class="nk-blog-post">
            <a href="/<%= blog_post.uid %>" class="nk-post-img">
              <img src="<%= blog_post.thumbnail_path %>" alt="Smell magic in the air. Or maybe barbecue">
              <span class="nk-post-comments-count"><%= blog_post.comments.count %></span>
            </a>
            <div class="nk-gap"></div>
            <h2 class="nk-post-title h4"><a href="/<%= blog_post.uid %>"><%= blog_post.title %></a></h2>
            <div class="nk-post-by">
              <% blog_post.authors.each do |author| %>
                <a href="#">
                  <img src="<%= author.avatar_path %>" alt="<%= author.name %> author image" class="rounded-circle" width="35">
                </a>
                by <a href="#"><%= author.name %></a>
              <% end %> at <%= I18n.l blog_post.published_at, format: :short %>
            </div>
            <div class="nk-gap"></div>
            <div class="nk-post-text">
              <p><%= blog_post.description %></p>
            </div>
            <div class="nk-gap"></div>
            <a href="/<%= blog_post.uid %>" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
          </div>
        </div>
      <% end %>
    </div>

    <div class="nk-pagination nk-pagination-center">
      <%= paginate @blog_posts %>
    </div>
  </div>
</div>