<div class="col-lg-8">
  <div class="nk-blog-post nk-blog-post-single">
    <div class="nk-post-text mt-0">
      <div class="nk-post-img">
        <img src="<%= @blog_post.cover_path %>" alt="Grab your sword and fight the Horde">
      </div>
      <div class="nk-gap-1"></div>
      <!-- <h1 class="nk-post-title h4">Grab your sword and fight the Horde</h1> -->
      <div class="nk-post-by">
        <% @blog_post.authors.each do |author| %>
          <a href="#">
            <img src="<%= author.avatar_path %>" alt="<%= author.name %> author image" class="rounded-circle" width="35">
          </a>
          by <a href="#"><%= author.name %></a>
        <% end %> at <%= I18n.l @blog_post.published_at, format: :short %>

        <div class="nk-post-categories">
          <% @blog_post.categories.each do |category| %>
            <span class="bg-main" style="
              background-color: <%= category.background_color %>;
              color: <%= category.text_color %>
            ">
              <%= category.name %>
            </span>
          <% end %>
        </div>

      </div>
      <div class="nk-gap"></div>
      <div class="blog-post-container">
        <%= @blog_post.html_safe_content %>
      </div>

      <div class="nk-gap"></div>
      <div class="nk-post-share">
        <span class="h5">Share Article:</span>

        <ul class="nk-social-links-2">
          <% SiteConfig.active.shareable_socials.each do |s| %>
            <li>
              <a href="<%= s.url.gsub('<URI>', "#{root_url}blog/posts/#{@blog_post.urids.last.slug}") %>" target="_blank">
              <span class="nk-social-<%= s.name %>" title="Share page on <%= s.name.capitalize %>" data-share="<%= s.name %>">
                <span class="fab fa-<%= s.name %>"></span>
              </span>
              </a>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
    <div class="nk-gap-2"></div>

    <%= render "blog/posts/similar_articles" %>
    <%= render "blog/posts/comments" %>
  </div>
</div>