<div class="nk-modal modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="ion-android-close"></span>
        </button>

        <h4 class="mb-0"><span class="text-main-1">Sign</span> In</h4>

        <div class="nk-gap-1"></div>
        <div class="row vertical-gap">
          <div class="col-md-6">
            <%= form_for(User, as: User.new, url: session_path(User.new), class:"nk-form text-white") do |f| %>
              Use email and password:

              <div class="nk-gap"></div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "required form-control" %>

              <div class="nk-gap"></div>
              <%= f.password_field :password, autocomplete: "current-password", class: "required form-control" %>

              <div class="nk-gap"></div>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
              
              <div class="nk-gap"></div>
              <%= f.submit "Sign In", class: "nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block" %>
            <% end %>
          </div>
          <div class="col-md-6">
            Or social account:

            <div class="nk-gap"></div>

            <ul class="nk-social-links-2">
              <%- User.omniauth_providers.each do |provider| %>
                <li>
                  <%= button_to(
                      try(:"user_#{provider}_omniauth_authorize_path"), 
                      class: "nk-social-#{provider}",
                      method: :post
                    ) do
                  %>
                    <span class="fab fa-<%= provider %>"></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
            
            <div class="nk-gap"></div>
            <div class="mnt-5">
              <%= link_to "Forgot your password?", new_password_path(User) %>
            </div>
            <div class="mnt-5">
              <%= link_to "Not a member? Sign up", new_registration_path(User) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>